[data-mantine-color-scheme='light'] {
  --layout-header-bg: #f1f7fb;
  --layout-navbar-bg: #f1f7fb;
  --layout-main-bg: linear-gradient(180deg, #eef5fa 0%, #f5fafd 60%, #f1f8fc 100%);
  --layout-border: rgba(176, 210, 232, 0.5);
  --graph-bg: #c7d5e33b;
  --graph-dots: #d1d5db;
  --node-own-bg: #ffffb865;
  --node-own-selected-bg: #f1f1adf0;
  --node-foreign-bg: linear-gradient(135deg, #f4f9fe 0%, #e8f1f9 100%);
  --node-foreign-selected-bg: linear-gradient(135deg, #e6f0fa 0%, #d4e4f3 100%);
  --node-journey-bg: linear-gradient(135deg, #e7f2ff 0%, #fff9e6 100%);
}

[data-mantine-color-scheme='dark'] .react-flow__node {
  --mantine-color-text: #1c1d21;
  color: #1c1d21;
}

:root[data-mantine-color-scheme='dark'] {
  --layout-header-bg: #1e2533;
  --layout-navbar-bg: #1e2533;
  --layout-main-bg: #191e2b;
  --layout-border: rgba(80, 100, 130, 0.2);
  --graph-bg: #c7d5e33b;
  --graph-dots: #4a5264;
  --mantine-color-body: #2e3a4c;
  --mantine-color-dark-7: #2e3a4c;
  --mantine-color-dark-6: #2e3a4c;
  --mantine-color-dark-5: #374656;
  --mantine-color-dark-4: #415464;
  --node-own-bg: #ffffb865;
  --node-own-selected-bg: #f1f1adf0;
  --node-foreign-bg: linear-gradient(135deg, #f4f9fe 0%, #e8f1f9 100%);
  --node-foreign-selected-bg: linear-gradient(135deg, #e6f0fa 0%, #d4e4f3 100%);
  --node-journey-bg: linear-gradient(135deg, #e7f2ff 0%, #fff9e6 100%);
}
